@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");
body {
  background-color: #134F5C;
  font-family: "Rubik"; }

.container-fluid {
  height: 100vh; }

.text-mainColor {
  color: #134F5C; }

.credit-box {
  width: 30%;
  padding: 20px;
  background-color: #e7edee;
  border-radius: 10px; }

.form-control:focus, .form-select:focus {
  border: 1px solid #134F5C;
  box-shadow: none !important; }

.button {
  padding: 8px 15px;
  background-color: #134F5C;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #e7edee;
  transition: all 150ms; }
  .button:hover {
    background-color: lightgray;
    color: #134F5C; }
  .button:active {
    border: none; }

.calc-box {
  height: 180px;
  width: 350px;
  padding: 20px;
  background-color: #e7edee;
  border-radius: 10px; }
  .calc-box .calc-text {
    border: 1px solid #134F5C;
    border-radius: 5px; }
